.pricing {
    width: 100%;
    padding: 6rem 1rem;
    background-color: black;
}


.cardContainer {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.card {
    border: 1px solid #eee;
    color: #eee;
    text-align: center;
    padding: 1rem;

}

.card:hover {
    background-color: #141414;
}

.card h3 {
    font-size: 1.4rem;
    padding: 1rem;

}

.card p {
    padding: 10px 0;
}

.bar {
    border-bottom: 1px solid #eee;
    width: 10px;
    margin: 1.5rem auto;
    display: block;
}

.btc {
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem 0;

}

.btn {
    display: block;
    width: 80%;
    margin: 2rem auto;
    background-color: yellow;
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
    padding: .5rem 0;
}

.btn:hover {
    color: #322f2f;
}



@media screen and (max-width : 768px) {
    .cardContainer {
        max-width: 90%;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
    }
}